{% extends '@layout/default.html.twig' %}

{% block title %}Teste{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green"> {{  block('title') }} </span></h1>
        <p>
            {{ data.message }}
        </p>
        {% for customer in customers %}
        <p>
            ------------------------------------------------------------------<br/>
            ID: {{ customer.id }}<br/>
            Nome: {{ customer.name }}<br/>
            E-mail: {{ customer.email }}<br/>

        </p>
        {% endfor %}
    </div>

{% endblock %}
